.selecionadoAtivado {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

table {
  width:100%;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
}
