<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Usuarios Carro App</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/usuarios" class="nav-link">Usuarios</a>
      </li>
      <li class="nav-item">
        <a routerLink="/usuarios/add" class="nav-link">Adicionar Usuarios</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/me" class="nav-link">Minha Conta</a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link">Logout</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
