<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <h4><strong>Adicionar Carro</strong></h4>
      <div class="form-group">
        <label for="year">Ano</label>
        <input
          class="form-control"
          id="anoCarro"
          required
          [(ngModel)]="anoCarro"
          name="anoCarro"
        />
      </div>

      <div class="form-group">
        <label for="year">Placa</label>
        <input
          class="form-control"
          id="licensePlate"
          required
          [(ngModel)]="carro.licensePlate"
          name="licensePlate"
        />
      </div>

      <div class="form-group">
        <label for="year">Modelo</label>
        <input
          class="form-control"
          id="model"
          required
          [(ngModel)]="carro.model"
          name="model"
        />
      </div>

      <div class="form-group">
        <label for="year">Cor</label>
        <input
          class="form-control"
          id="color"
          required
          [(ngModel)]="carro.color"
          name="color"
        />
      </div>

      <button (click)="saveCarro()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Carro foi salvo com sucesso!</h4>
      <button class="btn btn-success" (click)="newCarro()">Cadastrar Novo Carro</button>
    </div>
  </div>

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cadastro Usuario</h4>
          <button type="button" class="btn btn-close" (click)="closeModel()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let message of messagesErrors; let i = index">
              {{ message }}
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="showModal"></div>
</div>
